<html>
<head>
<meta charset="utf-8">
<title>升级文件列表</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link rel="stylesheet" href="${webPath}/css/upgradeFile/upgradeFile.css">
<#include 'pubCSS.html'>

</head>

<body class="layui-layout-body">
   <div class="right-con">
      <div class="search-box clearfix">
        <form class="layui-form" action="" id="submit_query_form">
          <div class="layui-form-item">
            <div class="layui-input-inline custom-size">
              <input type="text" name="seachNickName" id="seachNickName" value="${seachNickName}" placeholder="昵称" autocomplete="off" class="layui-input">
            </div>
            <div class="layui-input-inline custom-size-btn">
              <div class="layui-btn" onclick="selecedPage('${actionName}')">搜索</div>
            </div>
          </div>
        </form>
      </div>
      <button data-method="offset" data-type="top" class="layui-btn layui-btn-warm layui-btn-small add_admi add_admi1">新增</button>
    <div class="table-con">
      <table class="layui-table">
        <thead>
        <tr>
	        <th>昵称</th>
	        <th>版本号</th>
	        <th>下载url</th>
	        <th>是否开启</th>
	        <th>备注</th>
	        <th>创建时间</th>
	        <th>操作</th>
        </tr> 
        </thead>
        <tbody>
       		<#list upgradeFileList as upgradeFile>
		        <tr>
		          <td>${upgradeFile.ufNickName}</td>
		          <td>${upgradeFile.ufVersion}</td>
		          <td>${upgradeFile.ufUrl}</td>
		          <td><#if upgradeFile.ufIsopen==1>开启<#else>关闭</#if></td>
		          <td>${upgradeFile.ufRemark}</td>
		          <td>${upgradeFile.ufCreateTime?string("yyyy-MM-dd HH:mm")}</td>
		          <td>
		          	<button data-method="offset" data-type="top" class="layui-btn layui-btn-warm layui-btn-small add_admi add_admi1" onclick="selectUpgradeFile(${upgradeFile.id})">编辑</button>
		          	<button data-method="offset" data-type="top" class="layui-btn layui-btn-danger layui-btn-small add_admi " onclick="deleteUpgradeFile(${upgradeFile.id})">删除</button>
		          </td>
		        </tr>
	        </#list>
        </tbody>
      </table>
    </div>
    <#include 'pagination.html'>
   </div>
   <#include 'pubJS.html'>
</body>
<!--编辑开始-->
		<div class="bomb_box1">
			<form class="layui-form  action="">
				<div class="layui-form-item " pane=" ">
					<label class="layui-form-label ">昵称</label>
					<input type="hidden" name="id" id="id"  value="" placeholder="" class="layui-input id">
					<div class="layui-input-inline textarea_width">
						<input type="text" name="ufNickName"  id="ufNickName" placeholder=" " class="layui-input title" required lay-verify="required">
					</div>
				</div>
				<div class="layui-form-item " pane=" ">
					<label class="layui-form-label ">版本号</label>
					<div class="layui-input-inline textarea_width">
						<input type="text" name="ufVersion" id="ufVersion" placeholder=" " class="layui-input title" required lay-verify="required">
					</div>
				</div>
				<div class="layui-form-item " pane=" ">
					<label class="layui-form-label ">下载url</label>
					<div class="layui-input-inline textarea_width">
						<input type="text" name="ufUrl" id="ufUrl" placeholder=" " class="layui-input title" required lay-verify="required">
					</div>
				</div>
				<div class="layui-form-item ">
					<label class="layui-form-label ">是否开启</label>
					<div class="layui-input-inline layui-form textarea_width">
						<select  required lay-verify="required" name="ufIsopen" id="ufIsopen">
							<option value="">请选择</option>
							<option value="1">开</option>
							<option value="-1">关</option>											
						</select>
					</div>
				</div>
				<div class="layui-form-item ">
					<label class="layui-form-label ">备注</label>
					<div class="layui-input-inline textarea_width">
						<textarea placeholder="请输入内容 " class="layui-textarea content" required lay-verify="required" name="ufRemark" id="ufRemark"></textarea>
					</div>
				</div>
				<div class="layui-form-item for_but ">
					<button class="layui-btn upgradeFile" lay-submit="" lay-filter="formDate" style="display:none">保存</button>
				</div>
			</form>
		</div>
		<!--弹框结束-->

<script type="text/javascript" src="${webPath}js/import_excel.js?2018030817"></script>
<script type="text/javascript">
	var element;
	var layer;
	var form;
	var laydate;
	var webPath='${webPath}';
	var jsonFiles;
	var jsonFiles=new Array();
	layui.use(['form','element', 'layer','laydate'], function(){
		  element = layui.element;
		  layer = layui.layer;
		  form = layui.form;
		  laydate = layui.laydate;
		  //监听折叠
		  element.on('collapse(filter)', function(data){
	
		  });
		//日期范围
		  laydate.render({
		    elem: '#rentTime'
		    ,range: true
		  });
	    
		//日期范围
		  laydate.render({
		    elem: '#paymentTime'
		    ,range: true
		  });
		
	 
		
		  //全选  
	      form.on('checkbox(allChoose1)', function(data){
	          var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');  
	          child.each(function(index, item){
	            item.checked = data.elem.checked;
	          });
	          form.render('checkbox');  
	      });  
		  
	      //全选  
	      form.on('checkbox(allChoose2)', function(data){
	          var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]');  
	          child.each(function(index, item){
	            item.checked = data.elem.checked;
	          });
	          form.render('checkbox');  
	      });  
		  
	      /*新增修改弹框  */
	      $(".add_admi1 ").click(function() {
				clearInput();
					layer.open({
						type: 1,
						title: "升级文件",
						skin: 'admi',
						btn:['保存','返回'],
						area: ['595px', '450px'],
						content: $(".bomb_box1 "),
						success: function(layero, index){
					    	form.render();
					    	form.render('select');
				    		form.on('submit(formDate)', function(data){
					        	insertUpdateUpgradeFile(data.field);
					        	return false;
					       });
					    },
					    yes:function(index, layero){
						layero.find('.upgradeFile').click();
					    }
					});
			});
		  
	});
	
	/*编辑按钮文件回显 */
	function selectUpgradeFile(id){
		$.ajax({
				url:'selectUpgradeFileById.json',
				data:{'id':id},
				dataType:'json',
				type:'post',
				success:function(data){
					if (data.code==0) {
						var upgradeFile=data.data;
						$("#id").val(upgradeFile.id);
						$("#ufNickName").val(upgradeFile.ufNickName);
						$("#ufVersion").val(upgradeFile.ufVersion);
						$("#ufUrl").val(upgradeFile.ufUrl);
						$("#ufRemark").val(upgradeFile.ufRemark);
						$('select[name="ufIsopen"] option[value="'+upgradeFile.ufIsopen+'"]').prop("selected",true);
						form.render('select');
					} else {
						layer.msg("出错了！");
					}
				}
			});	
	}
	
	/*保存或修改升级文件  */
	function insertUpdateUpgradeFile(data){
		console.log(data)
		$.ajax({
			url:'insertUpdateUpgradeFile.json',
			data:data,
			dataType:'json',
			type:'post',
			success:function(data){
				if (data.code==0) {
					layer.msg('保存成功！', {icon : 1,time : 2000
					}, function() {
						layer.closeAll();
						location.reload();
					});
				} else {
					layer.msg('保存失败！', {icon : 2,time : 3000
					});
				}
			}
		});	
	}
	
	function deleteUpgradeFile(id){
		if(id!=null&&id!=''){
		layer.confirm('是否删除', {
				btn : [ '确定', '取消' ]
			}, function() {
				$.ajax({
					url:'deleteUpgradeFile.json',
					data:{'id':id},
					dataType:'json',
					type:'post',
					success:function(data){
						if (data.code==0) {
							layer.msg('删除成功！', {icon : 1,time : 2000
							}, function() {
								layer.closeAll();
								location.reload();
							});
						} else {
							layer.msg('删除失败！', {icon : 2,time : 3000
							});
						}
					}
				});	
			});
		}else{
			layer.alert("id不能为空！");
		}
	}
  /*清空input框  */
  function clearInput(){
	   $(".bomb_box1").find("input").each(function(){
		   $(this).val("");
	   });
	   $(".bomb_box1").find("select").each(function(){
		   $(this).val("");
	   });
	   $(".bomb_box1").find("textarea").each(function(){
		   $(this).val("");
	   });
   }
	 
	  
	  
	  
</script>
</html>