
	<!--底部开始-->
	<div class="footer">
		<div class="footer_box">
			<div class="footer_left">
				<a>&copy;&nbsp;2017Ketron&nbsp;Technology</a> 
				<a href="http://www.miitbeian.gov.cn" target="_blank">粤ICP备17140267号-1</a>
				<a href="${webPath}findLiaison.htm">联络</a>
				<a href="${webPath}comProblem.htm">帮助</a> 
				<a href="${webPath}findPaymentInstructions.htm">定价</a>
				<a href="${webPath}findAllAgreement.htm">条款</a>
			</div>
			<div class="footer_rigth" >
				<a href="${webPath}othersPage/calculator.html">Giga-pixel&nbsp;计算器<i class="iconfont">&#xe602;</i></a>
			</div>
		</div>
	</div>
	<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "https://hm.baidu.com/hm.js?714d01ccbe387a64c3e15e2ccbdf9d3f";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
	</script>