<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.faceRecog.manage.mapper.EmpCardMapper">
    <resultMap id="BaseResultMap" type="com.faceRecog.manage.model.EmpCard">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="emp_id" property="empId" jdbcType="VARCHAR"/>
        <result column="card_id" property="cardId" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, emp_id, card_id
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from fr_emp_card
        where id = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from fr_emp_card
    where id = #{id,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.faceRecog.manage.model.EmpCard">
    insert into fr_emp_card (id, emp_id, card_id
      )
    values (#{id,jdbcType=VARCHAR}, #{empId,jdbcType=VARCHAR}, #{cardId,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.faceRecog.manage.model.EmpCard">
        insert into fr_emp_card
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="empId != null">
                emp_id,
            </if>
            <if test="cardId != null">
                card_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="empId != null">
                #{empId,jdbcType=VARCHAR},
            </if>
            <if test="cardId != null">
                #{cardId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.faceRecog.manage.model.EmpCard">
        update fr_emp_card
        <set>
            <if test="empId != null">
                emp_id = #{empId,jdbcType=VARCHAR},
            </if>
            <if test="cardId != null">
                card_id = #{cardId,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.faceRecog.manage.model.EmpCard">
    update fr_emp_card
    set emp_id = #{empId,jdbcType=VARCHAR},
      card_id = #{cardId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

    <!---->
    <select id="selectCardIdByEmpId" parameterType="list" resultType="string">
        select card_id as cardId
        from fr_emp_card
        <where> emp_id in
            <foreach collection="empIds" item="empId" open="(" close=")" separator=",">
                #{empId,jdbcType=VARCHAR}
            </foreach>
        </where>
    </select>

    <!---->
    <delete id="deleteByCardId" parameterType="string" >
        delete from fr_emp_card
        where card_id =  #{cardId,jdbcType=VARCHAR}
    </delete>
</mapper>