<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.faceRecog.manage.mapper.EmpRetroactMapper" >
  <resultMap id="BaseResultMap" type="com.faceRecog.manage.model.EmpRetroact" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="emp_id" property="empId" jdbcType="VARCHAR" />
    <result column="retroact_id" property="retroactId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, emp_id, retroact_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from fr_emp_retroact
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from fr_emp_retroact
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.faceRecog.manage.model.EmpRetroact" >
    insert into fr_emp_retroact (id, emp_id, retroact_id
      )
    values (#{id,jdbcType=VARCHAR}, #{empId,jdbcType=VARCHAR}, #{retroactId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.faceRecog.manage.model.EmpRetroact" >
    insert into fr_emp_retroact
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="empId != null" >
        emp_id,
      </if>
      <if test="retroactId != null" >
        retroact_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="empId != null" >
        #{empId,jdbcType=VARCHAR},
      </if>
      <if test="retroactId != null" >
        #{retroactId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.faceRecog.manage.model.EmpRetroact" >
    update fr_emp_retroact
    <set >
      <if test="empId != null" >
        emp_id = #{empId,jdbcType=VARCHAR},
      </if>
      <if test="retroactId != null" >
        retroact_id = #{retroactId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.faceRecog.manage.model.EmpRetroact" >
    update fr_emp_retroact
    set emp_id = #{empId,jdbcType=VARCHAR},
      retroact_id = #{retroactId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>