<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.faceRecog.manage.mapper.ReadModeMapper" >
  <resultMap id="BaseResultMap" type="com.faceRecog.manage.model.ReadMode" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="eq_id" property="eqId" jdbcType="VARCHAR" />
    <result column="serial_port" property="serialPort" jdbcType="VARCHAR" />
    <result column="peripheral_type" property="peripheralType" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="read_type" property="readType" jdbcType="VARCHAR" />
    <result column="precision_num" property="precisionNum" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, eq_id, serial_port, peripheral_type, create_time, read_type, precision_num
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from fr_read_mode
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from fr_read_mode
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.faceRecog.manage.model.ReadMode" >
    insert into fr_read_mode (id, eq_id, serial_port, 
      peripheral_type, create_time, read_type, 
      precision_num)
    values (#{id,jdbcType=VARCHAR}, #{eqId,jdbcType=VARCHAR}, #{serialPort,jdbcType=VARCHAR}, 
      #{peripheralType,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{readType,jdbcType=VARCHAR}, 
      #{precisionNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.faceRecog.manage.model.ReadMode" >
    insert into fr_read_mode
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="eqId != null" >
        eq_id,
      </if>
      <if test="serialPort != null" >
        serial_port,
      </if>
      <if test="peripheralType != null" >
        peripheral_type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="readType != null" >
        read_type,
      </if>
      <if test="precisionNum != null" >
        precision_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="eqId != null" >
        #{eqId,jdbcType=VARCHAR},
      </if>
      <if test="serialPort != null" >
        #{serialPort,jdbcType=VARCHAR},
      </if>
      <if test="peripheralType != null" >
        #{peripheralType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="readType != null" >
        #{readType,jdbcType=VARCHAR},
      </if>
      <if test="precisionNum != null" >
        #{precisionNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.faceRecog.manage.model.ReadMode" >
    update fr_read_mode
    <set >
      <if test="eqId != null" >
        eq_id = #{eqId,jdbcType=VARCHAR},
      </if>
      <if test="serialPort != null" >
        serial_port = #{serialPort,jdbcType=VARCHAR},
      </if>
      <if test="peripheralType != null" >
        peripheral_type = #{peripheralType,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="readType != null" >
        read_type = #{readType,jdbcType=VARCHAR},
      </if>
      <if test="precisionNum != null" >
        precision_num = #{precisionNum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.faceRecog.manage.model.ReadMode" >
    update fr_read_mode
    set eq_id = #{eqId,jdbcType=VARCHAR},
      serial_port = #{serialPort,jdbcType=VARCHAR},
      peripheral_type = #{peripheralType,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      read_type = #{readType,jdbcType=VARCHAR},
      precision_num = #{precisionNum,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <!--自定义对的sql  -->
  
  <!--根据设备id查询识别模式信息  -->
  <select id="selectReadModeByEqId" parameterType="string" resultMap="BaseResultMap">
  select 
  <include refid="Base_Column_List" />
  from fr_read_mode
  where eq_id = #{eqId,jdbcType=VARCHAR}
  </select>
</mapper>